:root {
    background-image: url("confetti.gif"); 
    font-size: 62.5%;
    padding: auto;
    background: linear-gradient(-45deg, #ece00c, #ece00c,#ee7752, #e73c7e,#ec0cdd,#a02aee,#3223d5 , #23a6d5, #23d5ab, #ece00c,#ece00c);
    background-size: 400% 400%;
    animation: gradient 2s infinite;

    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container2 {
    background-image: url("confetti.gif"), url("sky.jpg");
    

}