p {
    color:  #afcce6;
}
h2 {
    color: rgb(16, 7, 51);
  }
choice3 {
  visibility: visible;
}
  .container3 {
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:  80rem;
    margin:  0 auto;
    margin-top: 1rem;
    margin-bottom: 10rem;
    vertical-align:50%;
    background-image: url("grass.jpg");

    background-size:cover;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    padding: 5rem;
    background-color: whitesmoke;


}

.container3 > * {
    width: 100%;
} 
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #a0d1f6;
    opacity:0.9;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #55aef3;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    opacity:0.7;
  }
  .choice-container2 {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #a0d1f6;
    opacity:0.9;
  }
  
  .choice-container2:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #55aef3;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    opacity:0.7;
  }

  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #143b5d;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    color:rgb(26, 26, 26);
    width: 100%;
  }

  .correct {
    background-color: #3bdd61;
  
  }
  
  .incorrect {
    background-color: #eb4242;;
  }

  /* HUD */

#hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  
  .hud-main-text {
    text-align: center;
    color: #fb9062;
    text-shadow: -0.25px -0.25px 0 rgb(250, 248, 248), 0.25px -0.25px 0 rgb(250, 248, 248), -0.25px 0.25px 0 rgb(250, 248, 248), 0.25px 0.25px 0 rgb(250, 248, 248);
  } 
  p {
    color:rgb(26, 26, 26);
    font-weight: bold;
    text-shadow: -0.4px -0.4px 0 rgb(250, 248, 248), 0.4px -0.4px 0 rgb(250, 248, 248), -0.4px 0.4px 0 rgb(250, 248, 248), 0.4px 0.4px 0 rgb(250, 248, 248);
    
  }
  
  h2[id="question"] {
    color:rgb(26, 26, 26);
    font-weight: bold;
    text-shadow: -0.8px -0.8px 0 rgb(250, 248, 248), 0.8px -0.8px 0 rgb(250, 248, 248), -0.8px 0.8px 0 rgb(250, 248, 248), 0.8px 0.8px 0 rgb(250, 248, 248);
  }
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #faf7fd;
    
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #934497;
    ;
    width: 0%;
  }
  
/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }