p {
    color:  #afcce6;
}
h2 {
    color: rgb(16, 7, 51);
  }
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: rgb(99, 233, 233);
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #143b5d;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    color:rgb(26, 26, 26);
    width: 100%;
  }

  .correct {
    background-color: #93d7a3;
  }
  
  .incorrect {
    background-color: #ec5151;
  }

  /* HUD */

#hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
    color: #21adc6;
    text-shadow: -1px -1px 0 rgb(250, 248, 248), 1px -1px 0 rgb(250, 248, 248), -1px 1px 0 rgb(250, 248, 248), 1px 1px 0 rgb(250, 248, 248);
  }
  p {
    color:rgb(26, 26, 26);
    text-shadow: -1px -1px 0 rgb(250, 248, 248), 1px -1px 0 rgb(250, 248, 248), -1px 1px 0 rgb(250, 248, 248), 1px 1px 0 rgb(250, 248, 248);
    
  }

  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #faf7fd;
    
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #21adc6;
    ;
    width: 0%;
  }
  
/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }