#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    border: 0.5cm;
  }
  
  .high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color:rgb(26, 26, 26);

  }
  
  .high-score:hover {
    transform: scale(1.025);
  }